// vim: ft=javascript

var model = function(prevBlock, isFirst) {
    var a = flip(0.5);
    var b = a ? flip(0.7) : flip(0.5);
    var c = b ? flip(0.9) : flip(0.6);
    var d = c ? flip(0.6) : flip(0.5);
    var e = (d || a) ? flip(0.8) : flip(0.5);
    return [ a, b, c, d, e ]
};

var dist = Infer({ method: 'MCMC', model: model });
json.write('data.json', repeat(600, function () { sample(dist) }));
