#ifndef _DATA_H_
#define _DATA_H_

#define STATE_N 4
#define NODE_N 5
#define DATA_N 5
int data[] = {
   1, 1, 1, 1, 1,
   1, 1, 1, 1, 1,
   1, 1, 1, 1, 1,
   1, 1, 1, 1, 1,
   1, 1, 1, 1, 1,
};

#endif // _DATA_H_
